In [1]:
#Load Libraries
import pandas as pd
import fnmatch
import glob
import os

In [48]:
#find and load all of the depth.txt files


AllDepth=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*depth.txt', recursive=True):
    #print(filename)
    temp=pd.read_table(filename, header=None)
    temp['filename']=filename
    list_.append(temp)
AllDepth=pd.concat(list_)

In [75]:
AllDepth.head()

,0,1,2,3,4,5,6,7,8,9,...,1529,1530,1531,1532,1533,1534,1535,1536,filename,imagename
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,DataSample/1-/1-6yWERCOk-YphPZp5k
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,DataSample/1-/1-6yWERCOk-YphPZp5k
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,DataSample/1-/1-6yWERCOk-YphPZp5k
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,DataSample/1-/1-6yWERCOk-YphPZp5k
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,DataSample/1-/1-6yWERCOk-YphPZp5k

In [77]:
#extract imagename
AllDepth['imagename']=AllDepth['filename'].map(lambda x: str(x)[:-10])
AllDepth['imagename']=AllDepth['imagename'].map(lambda x: str(x)[14:])


AllDepth.head()

,0,1,2,3,4,5,6,7,8,9,...,1529,1530,1531,1532,1533,1534,1535,1536,filename,imagename
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,1-6yWERCOk-YphPZp5ktjA
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,1-6yWERCOk-YphPZp5ktjA
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,1-6yWERCOk-YphPZp5ktjA
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,1-6yWERCOk-YphPZp5ktjA
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.depth.txt,1-6yWERCOk-YphPZp5ktjA

In [72]:
#find and load all of the curbramp.txt files
import glob

AllCurbRamp=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*_curbramp.txt', recursive=True):
    #print(filename)
    temp=pd.read_table(filename, header=None, sep=" ")
    temp['filename']=filename
    list_.append(temp)
AllCurbRamp=pd.concat(list_)
AllCurbRamp.columns=[['x1', 'x2', 'y1', 'y2', 'filename']]

In [73]:

#extract the image name
AllCurbRamp['imagename']=AllCurbRamp['filename'].map(lambda x: str(x)[:-13])
AllCurbRamp['imagename']=AllCurbRamp['imagename'].map(lambda x: str(x)[14:])



AllCurbRamp.head()

,x1,x2,y1,y2,filename,imagename
0,2482.010307,3135.415040,3663.297633,4316.702367,DataSample/1-/1-6yWERCOk-YphPZp5ktjA_curbramp.txt,1-6yWERCOk-YphPZp5ktjA
1,3050.308155,3523.117192,3614.595481,4087.404519,DataSample/1-/1-6yWERCOk-YphPZp5ktjA_curbramp.txt,1-6yWERCOk-YphPZp5ktjA
2,4871.921273,5175.504074,3578.208600,3881.791400,DataSample/1-/1-6yWERCOk-YphPZp5ktjA_curbramp.txt,1-6yWERCOk-YphPZp5ktjA
3,6767.640636,7105.784712,3583.927962,3922.072038,DataSample/1-/1-6yWERCOk-YphPZp5ktjA_curbramp.txt,1-6yWERCOk-YphPZp5ktjA
4,8019.980694,9259.444653,3938.268020,5177.731980,DataSample/1-/1-6yWERCOk-YphPZp5ktjA_curbramp.txt,1-6yWERCOk-YphPZp5ktjA

In [55]:
#find and load all of the curbramp.txt files
import glob

AllCurbRamp=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*_nocurbramp.txt', recursive=True):
    #print(filename)
    temp=pd.read_table(filename, header=None, sep=" ")
    temp['filename']=filename
    list_.append(temp)
NoCurbRamp=pd.concat(list_)
NoCurbRamp.columns=[['x1', 'x2', 'y1', 'y2', 'filename']]

In [81]:
#extract imagename
NoCurbRamp['imagename']=NoCurbRamp['filename'].map(lambda x: str(x)[:-15])
NoCurbRamp['imagename']=NoCurbRamp['imagename'].map(lambda x: str(x)[14:])



NoCurbRamp.head()

,x1,x2,y1,y2,filename,imagename
0,9982.592444,10406.079692,3588.256376,4011.743624,DataSample/1a/1a1UlhadSS_3dNtc5oI10Q_nocurbram...,1a1UlhadSS_3dNtc5oI10Q
1,10613.669231,11017.002905,3565.333163,3968.666837,DataSample/1a/1a1UlhadSS_3dNtc5oI10Q_nocurbram...,1a1UlhadSS_3dNtc5oI10Q
2,12261.983529,12750.688606,3582.647462,4071.352538,DataSample/1a/1a1UlhadSS_3dNtc5oI10Q_nocurbram...,1a1UlhadSS_3dNtc5oI10Q
3,12815.962908,13336.709228,3604.626840,4125.373160,DataSample/1a/1a1UlhadSS_3dNtc5oI10Q_nocurbram...,1a1UlhadSS_3dNtc5oI10Q
0,3607.918752,4360.114929,3738.901911,4491.098089,DataSample/1a/1AZZ0uQv6EqNgOr4VT9zag_nocurbram...,1AZZ0uQv6EqNgOr4VT9zag

In [82]:
#XML to Pandas
#http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

import xml.etree.ElementTree as ET
import pandas as pd

xml_data = open('DataSample/1a/1A00FcZyk-UiLb7KtLBubQ.xml').read()

def xml2df(xml_data):
    root = ET.XML(xml_data) # element tree
    all_records = []
    for i, child in enumerate(root):
        record = {}
        for subchild in child:
            record[subchild.tag] = subchild.text
            all_records.append(record)
    return pd.DataFrame(all_records)

In [84]:
xml2df(xml_data)

,copyright,country,depth_map,link,pano_map,region,street_range,text
0,Â© 2016 Google,United States,NaN,NaN,NaN,"Washington, District of Columbia",4193,4193 Minnesota Ave NE
1,Â© 2016 Google,United States,NaN,NaN,NaN,"Washington, District of Columbia",4193,4193 Minnesota Ave NE
2,Â© 2016 Google,United States,NaN,NaN,NaN,"Washington, District of Columbia",4193,4193 Minnesota Ave NE
3,Â© 2016 Google,United States,NaN,NaN,NaN,"Washington, District of Columbia",4193,4193 Minnesota Ave NE
4,Â© 2016 Google,United States,NaN,NaN,NaN,"Washington, District of Columbia",4193,4193 Minnesota Ave NE
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,eJzt2Hl41HQawPHOtJbSghyFilwth0ArpYVSoEzSZFqBcg...,NaN,eJzt2HtsG4dhx3HZTmQ5ThrHj9iNHdtJnDiJzVR83JF0U0...,NaN,NaN,NaN
9,NaN,NaN,eJzt2Hl41HQawPHOtJbSghyFilwth0ArpYVSoEzSZFqBcg...,NaN,eJzt2HtsG4dhx3HZTmQ5ThrHj9iNHdtJnDiJzVR83JF0U0...,NaN,NaN,NaN

In [86]:
AllXML=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*.xml', recursive=True):
    #print(filename)
    xml_data = open(filename).read()
    temp=xml2df(xml_data)
    temp['filename']=filename
    list_.append(temp)
AllXML=pd.concat(list_)

In [88]:
#extract the image name
AllXML['imagename']=AllXML['filename'].map(lambda x: str(x)[:-4])
AllXML['imagename']=AllXML['imagename'].map(lambda x: str(x)[14:])



AllXML.head()

,copyright,country,depth_map,filename,link,pano_map,region,street_range,text,imagename
0,Â© 2016 Google,United States,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.xml,NaN,NaN,"Washington, District of Columbia",1001,1001 50th St NE,1-6yWERCOk-YphPZp5ktjA
1,Â© 2016 Google,United States,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.xml,NaN,NaN,"Washington, District of Columbia",1001,1001 50th St NE,1-6yWERCOk-YphPZp5ktjA
2,Â© 2016 Google,United States,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.xml,NaN,NaN,"Washington, District of Columbia",1001,1001 50th St NE,1-6yWERCOk-YphPZp5ktjA
3,Â© 2016 Google,United States,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.xml,NaN,NaN,"Washington, District of Columbia",1001,1001 50th St NE,1-6yWERCOk-YphPZp5ktjA
4,Â© 2016 Google,United States,NaN,DataSample/1-/1-6yWERCOk-YphPZp5ktjA.xml,NaN,NaN,"Washington, District of Columbia",1001,1001 50th St NE,1-6yWERCOk-YphPZp5ktjA

In [10]:
import image_slicer
for filename in glob.iglob('DataSample/**/*.jpg', recursive=True):
    #filename='0AqAZh_XjSaShq0bIt_TLw.jpg'
    tiles=image_slicer.slice(filename, 100, save=False)
    newfilename=str(filename)[:-4]
    newfilename=str(newfilename)[14:]
    image_slicer.save_tiles(tiles, prefix=newfilename, directory='slices')

In [11]:
listofnewfiles=pd.DataFrame(os.listdir('slices'))

In [12]:
listofnewfiles.to_csv('FileNames.csv')